**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

In [ ]:
*       - Expression
'hello' â€“ Value 
-87.8   - Value
-       - Expression
/       - Expression
+  	    - Expression
6       - Value

**2. What is the difference between string and variable?**

Variable: It can hold data of different data types such as string, int, list etc
String  : It is of the possible data type for value

**3. Describe three different data types.**

**4. What is an expression made up of? What do all expressions do?**

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon + 1

In [8]:
bacon = 22
bacon + 1
bacon

22

**7. What should the values of the following two terms be?**

**'spam' + 'spamspam'**

**'spam' * 3**

In [29]:
print('Output of term 1 is ' + 'spam' + 'spamspam')
print('Output of term 2 is ' + 'spam' * 3)
print('Output of both the terms is same')

Output of term 1 is spamspamspam
Output of term 2 is spamspamspam
Output of both the terms is same

**8. Why is eggs a valid variable name while 100 is invalid?**

*As per the naming conventions for a variable in python a variable can either start with a character or _*

**eggs -** valid as it is starting with character

**100 -** invalid as it is starting with number

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

In [22]:
## Can be done using int(), float() and string()

input = 100.43
int_ver = int(input)
float_ver = float(input)
str_ver = str(input)
print(type(int_ver))
print(type(float_ver))
print(type(str_ver))

<class 'int'>
<class 'float'>
<class 'str'>

**10. Why does this expression cause an error? How can you fix it?**

*'I have eaten ' + 99 + ' burritos.*

In [14]:
# With error
# As 99 is int data type here we are getting error. We can only concatenate str values
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [15]:
## Correction Version
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'